@use 'variables';

* {
    margin: 0;
    padding: 0;
}

._container {
    max-width: 1105px;
    margin: 0 auto;
}

h1 {
    font-size: variables.$DisplayLarge-size;
    font-weight: variables.$DisplayLarge-weight;
    font-family: variables.$DisplayLarge-font;
    line-height: variables.$DisplayLarge-line;
}

h2 {
    font-size: variables.$Title-size;
    font-weight: variables.$Title-weight;
    font-family: variables.$Title-font;
    line-height: variables.$Title-line;
}

.subTitle {
    font-size: variables.$SubTitle-size;
    font-weight: variables.$SubTitle-weight;
    font-family: variables.$SubTitle-font;
    line-height: variables.$SubTitle-line;
    color: variables.$PrimaryColor;
}

h3 {
    font-size: variables.$DisplayMedium-size;
    font-weight: variables.$DisplayMedium-weight;
    font-family: variables.$DisplayMedium-font;
    line-height: variables.$DisplayMedium-line;
    color: variables.$PrimaryColor;
}

nav {
    li {
        a {
            color: variables.$Lightgray;
            text-decoration: none;
            font-size: variables.$Body-size;
            font-weight: variables.$Body-weight;
            font-family: variables.$Body-font;
            line-height: variables.$Body-line;
        }
    }
}